  -e GAMEMODE=sandbox \
  -e DB=plugin \
  -e DB_USER=plugin \
  -e DB_HOST=postgres_mindistry \
  -e DB_PASSWORD=r78ZJ/DPx34= \
  -e BUNDLE_API=http://bundles:8080/bundles/ \
  -e VPN_API=http://ipcache:3000/ip/
