GAMEMODE=survival

BUNDLE_API=yourBundleApiHere
VPN_API=yourVpnApiHere
LOKI_API=yourLokiApiHere
API_AUTH=yourApiAuthHere

DB=yourDatabaseNameHere
DB_HOST=yourDatabaseHostHere
DB_PORT=yourDatabasePortHere
DB_USER=yourDatabaseUserHere
DB_PASSWORD=yourDatabasePasswordHere

TOKEN=yourDiscordBotTokenHere

GUILD_ID=yourDiscordGuildIdHere
CHANNEL_ID=yourDiscordChannelIdHere
LOGS_ID=yourLogsChannelIdHere
VOTEKICKS_ID=yourVotekicksChannelIdHere
NSFW_ID=yourNsfwChannelIdHere
CONSOLE_ID=yourConsoleChannelIdHere
OWNER_ROLE_ID=yourOwnerRoleIdHere

S3_URL=yourS3UrlHere
S3_ACCESS_KEY=yourS3AccessKeyHere
S3_SECRET_KEY=yourS3SecretKeyHere
